html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background: #fff;
}

a {
    text-decoration: none;
    transition: color .5s;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    line-height: 200px;
    color: #555;
    border-bottom: 1px dashed #777;
}

.icon-font:before {
    margin: 0;
}

h1 span.icon-font {
    font-size: 64px;
    text-align: left;
    color: #aaa;
    padding-right: 12px;
    position: relative;
    top: 5px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#suggestions li, #suggestions p {
    font-size: 36px;
    width: 480px;
    margin: 1em auto;
}

#suggestions p {
    padding-top: 20px;
    font-size: 18px;
    color: #555;
}

#suggestions li a span.icon-font {
    width: 60px;
    color: #999;
    display: inline-block;
    float: left;
    transition: color .5s;
}

#suggestions li::after {
    clear: both;
    content: '';
    display: block;
}

#suggestions li {
    cursor: pointer;
}

#suggestions li a {
    color: #555;
}

#suggestions li:hover a,
#suggestions li:hover a span.icon-font {
    color: #4682B4;
}

#suggestions .intro {
    padding-top: 12px;
    padding-left: 62px;
    font-size: 16px;
    display: block;
    color: #999;
}

#copyright {
    font-size: 12px;
    color: #aaa;
    width: 500px;
    margin: 20px auto;
}